body {
	background: #eee;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 13px;
	padding: 10px;
}
#iplookup {
	display:block;width:600px;float:left;margin: 0 10px 0 0;
}
table td {
	padding: 0 5px;
}
td.extra {
	padding: 10px 5px;
}
textarea, input {
	margin: 0 0 10px;
}
input.submit {
	font-size: 16px;
	padding: 4px 6px;
}
small {
	font-size: 10px;
}
.footer {
	padding: 10px;
	clear: both;
	width: 580px;
}
.donate {
	display: block;
	width: 300px;
	float: right;
	text-align: right;
}
.content {
	width: 40%;
	display: block;
	margin: 20px 30%;
}
